* {
    margin: 0;
    padding: 0;
}

.blog-header {
    display: inline;
    padding: 20px;
}

.blog-title {
    display: inline;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.no-button {
    display: inline;
    padding: 10px;
}